:host {
  background-color: #f1f0f0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.file {
  width: 600px;
  background-color: #fff;
  border: 1px solid #e4dede;
  padding: 20px;
}

.form-group {
  width: 600px;
  background-color: #fff;
  border: 1px solid #e4dede;
  padding: 20px;
}
select {
  height: 20px;
  width: 300px;
  margin-left: 30px;
}
